/* superfinfo */

.superinfo-bg {
    background: #2C362D;
    color: white;
}

.superinfo {
    max-width: 960px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    padding-top: 0px;
}

.superinfo p {
    margin: 0 10px 10px 10px;
    padding-top: 10px;
    color: white;
}

/*Header*/
.menu-bg {
    background-image: url(/public/805656.jpg);
    background-size: cover;
    background-position: top;
}

.menu {
    padding: 20px 0;
    color: #F4F1DE;
    max-width: 960px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.menu h2 {
    margin-top: 10px;
}

#newBtn{
    background: #252525;
    font-family: Georgia, serif;
    text-transform: uppercase;
    font-size: 1.5em;
    padding-top: 6px;
    padding-bottom: 6px;
    color: #fff;
    border: none;
}