body,
h1,
h2,
p,
ul,
li,
a {
    margin: 0px;
    padding: 0px;
}

body {
    font-family: "Nunito", Helvetica, Arial, sans-serif;
    color: #222222;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

img {
    display: block;
    max-width: 100%;
}

* {
    box-sizing: border-box;
}

/* superfinfo */

.superinfo-bg {
    background: #2C362D;
    color: white;
}

.superinfo {
    max-width: 960px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding-top: 10px;
}

.superinfo p {
    margin: 0 10px 10px 10px;
    color: white;
}

/*Header*/
.menu-bg {
    background-color: #5D7A44;
}

.menu {
    padding: 20px 0;
    color: #F4F1DE;
    max-width: 960px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.menu h2 {
    margin-top: 10px;
}

/*pesquisa*/
.search-bg {
    background-color: #BFBFBF;
}

.search {

    max-width: 960px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding-top: 20px;
    padding-bottom: 20px;
}

#input {
    box-sizing: border-box;
    width: 320px;
    border: 3px solid #252525;
    background: none;
    font-size: 1.5em;
    font-style: italic;
    font-family: Georgia, serif;
    padding: 5px;
    float: left;
}

#btn {
    background: #252525;
    font-family: Georgia, serif;
    text-transform: uppercase;
    font-size: 1.5em;
    width: 140px px;
    padding: 10px 10px;
    color: #fff;
    border: none;
}

.search p {
    color: red;
    font-size: 1.25em;
    font-weight: 600;
    padding-right: 50px;
    padding-top: 15px;
}

.hidden {
    display: none;
}

.not-hidden {
    display: flex;
}

/*conteudo*/
.content {
    max-width: 960px;
    margin: 0 auto;
}

.conteudo {
    background-color: #b4bdb6;
}

.content-container {
    display: flex;
    flex-wrap: wrap;
}

#list {
    display: flex;
    flex-wrap: wrap;
    max-width: 960px;
    align-content: flex-end;
}

#list li {
    border: 2px outset #50505077;
    flex: 1 1 630px;
    padding-top: 20px;
    padding-left: 20px;
    font-size: 1.25em;
    line-height: 1.4;
    margin-bottom: 2em;
    margin-top: 1em;
    color: #4e4e4e;
}

#list img {
    margin: 0 auto;
    padding: 20px 20px 40px 20px;
}